* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Quicksand', sans-serif;
}

/* Variables */

:root {
    --white: #ffffff;
    --black: #000000;
    --dark: #232830;
    --ti_field: #f7f7f7;
    --vl_pink: #c7c7c7;
    --h_green: #acd9b2;
}

/* Main */

.main {
    width: 100%;
    min-width: 32rem;
    height: 100vh;
    min-height: 55rem;
}

.main__eml-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 34rem;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.main__eml-cont > img {
    width: 15rem;
    height: auto;
    margin: 0 auto;
}

.main__eml-cont > h1 {
    margin-top: 7.6rem;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.25rem;
}

.main__eml-cont > h2 {
    margin-top: .8rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.25rem;
    color: #797979;
}

/* Mail icon */

.eml__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 15rem;
    margin-top: 2.8rem;
    background-color: var(--ti_field);
    border-radius: 50%;
}

/* Main email cont */

.main__eml-cont > a {
    width: 100%;
    height: 6rem;
    margin-top: 3.6rem;
    padding: calc(3rem - 2.25rem/2) 0;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.25rem;
    color: var(--white);
    background-color: var(--h_green);
    border-radius: 1rem;
}

.main__eml-cont > p {
    margin-top: 2.8rem;
    font-size: 1.4rem;
    font-family: 500;
    line-height: 1.75rem;
    color: #797979;
}

.main__eml-cont > p > a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.75rem;
    color: var(--h_green);
}

@media (min-width: 768px) {
    .main__eml-cont > img {
        display: none;
    }
}