* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Quicksand', sans-serif;
}

/* Variables */

:root {
    --white: #ffffff;
    --black: #000000;
    --dark: #232830;
    --ti_field: #f7f7f7;
    --vl_pink: #c7c7c7;
    --h_green: #acd9b2;
}

/* Product Detail */

.prod {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: calc(100vh - 4.8rem);
    border-radius: .5rem;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.119789);
}

.prod__cls {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1.2rem;
    left: 1.2rem;
    width: 4rem;
    height: 4rem;
    background-color: var(--white);
    border-radius: 50%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.prod__dtl {
    width: 100%;
    height: auto;
}

.dtl__imgs {
    display: flex;
    width: 100%;
    height: auto;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.imgs__itm {
    width: 100%;
    min-width: 32rem;
    height: auto;
    scroll-snap-align: center;
}

.imgs__itm > img {
    width: 100%;
    border-radius: .5rem .5rem 2rem 2rem;
}

.dtl__bar {
    display: flex;
    justify-content: space-between;
    width: 15%;
    height: auto;
    margin: 0 auto;
    margin-top: 1.2rem;
}

.dtl__bar > div {
    width: .8rem;
    height: .8rem;
    background-color: var(--vl_pink);
    border-radius: 50%;
    opacity: 0.25;
}

.prod__info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding-top: 2.4rem;
}

.info__cont {
    width: 100%;
    height: auto;
}

.info__cont > p:nth-child(1) {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.1rem;
}

.info__cont > p:nth-child(2) {
    margin-top: .4rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.25rem;
    color: #797979;
}

.info__dcrp {
    width: 100%;
    height: auto;
    margin-top: 2rem;
}

.info__dcrp > p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    color: #797979;
}

.prod__add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6rem;
    margin-bottom: 1.6rem;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.25rem;
    color: var(--white);
    background-color: var(--h_green);
    border: none;
    border-radius: 1rem;
}

.prod__add > img {
    margin-right: .8rem;
}

@media (min-width: 768px) {
    .prod {
        max-width: 38rem;
    }

    .imgs__itm {
        min-width: 38rem;
    }
}