* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Quicksand', sans-serif;
}

/* Variables */

:root {
    --white: #ffffff;
    --black: #000000;
    --dark: #232830;
    --ti_field: #f7f7f7;
    --vl_pink: #c7c7c7;
    --h_green: #acd9b2;
}

/* Menu */

.menu__mbl {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 4rem 4rem 6rem;
}

.menu__mbl > span {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    background-image: url(../../src/svg/icon_close.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.mbl__cats > h2, .mbl__cats > a {
    display: block;
    margin-bottom: 3.6rem;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2rem;
    text-decoration: none;
    color: var(--black);
}

.mbl__acc {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: solid .1rem rgba(97, 97, 97, 0.1);
}

.acc__usr a {
    display: block;
    margin-top: 3.6rem;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2rem;
    text-decoration: none;
    color: var(--black);
}

.acc__log p {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.75rem;
}

.acc__log a {
    margin-top: .6rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.75rem;
    text-decoration: none;
    color: var(--h_green);
}